nav{
background-color: #054F77;
}
.cat{
	background-color: #800000;
	color: white;
	padding-left: 1em;
}
.title{
	font-size: 1.5em;
	font-weight: 400;
	line-height: 2em;

}
.card-title{
color: #054F77;
font-weight: bold;
}
.card{
	width: 50%;
}